* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: white;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}


.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    background: white;
}


.my_nav {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
    border-bottom: 1px solid wheat;
    padding: 15px 30px;
    width: 100%;
}


.my_nav::after {
    content: "";
    display: block;
    clear: both;
}

.logo_area {
    float: left;
    width: 20%;
}

.site_logo {
    height: 40px;
    width: auto;
    color: #222;
}

.menu_links {
    float: left;
    width: 50%;
    list-style: none;
    padding: 0;
    margin: 8px 0 0 0;
    text-align: center;
}

.menu_links li {
    display: inline-block;
    margin: 0 15px;
}

.menu_links a {
    text-decoration: none;
    color: gray;
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 5px;
}

.menu_links a.current,
.menu_links a:hover {
    color: blueviolet;
    border-bottom: 2px solid blue;
}

.search_box {
    float: right;
    width: 30%;
    text-align: right;
}

.search_box input {
    padding: 8px 15px;
    border: 1px solid white;
    border-radius: 20px;
    width: 100%;
    max-width: 250px;
    outline: none;
}


.banner_area {
    padding: 80px 40px;
    border-bottom: 1px solid white;
    background-color: white;
}


.banner_area::after {
    content: "";
    display: block;
    clear: both;
}

.text_side {
    float: left;
    width: 50%;
    padding-right: 50px;
    padding-top: 20px;
}

.text_side h1 {
    font-size: 48px;
    margin-top: 0;
    margin-bottom: 20px;
    color: #222;
    line-height: 1.2;
}

.text_side p {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
}

.btn_primary {
    background: orangered;
    border: none;
    padding: 15px 35px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn_primary:hover {
    background-color: orange;
}

.img_side {
    float: right;
    width: 50%;
}




.cards_container {
    padding: 80px 40px;
    background-color: #f9f9f9;
}


.cards_container::after {
    content: "";
    display: block;
    clear: both;
}

.info_box {
    float: left;
    width: 32%;
    margin-right: 2%;
    background: white;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    text-align: left;
}


.info_box:last-child {
    margin-right: 0;
}

.info_box img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 20px;
}

.info_box h3 {
    font-size: 22px;
    margin: 0 0 10px 0;
    color: black;
}

.info_box p {
    font-size: 15px;
    color: gray;
    margin-bottom: 20px;
}

.info_box a {
    color: gray;
    text-decoration: none;
    font-weight: bold;
}


footer {
    background-color: white;
    color: black;
    border-top: #222;
    padding: 60px 40px 20px 40px;
}

.top_footer {
    padding-bottom: 40px;
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
}

.top_footer::after {
    content: "";
    display: block;
    clear: both;
}

.footer_logo {
    float: left;
    width: 20%;
}



.footer_nav {
    float: left;
    width: 60%;
    list-style: none;
    padding: 0;
    margin: 8px 0 0 0;
    text-align: center;
}

.footer_nav li {
    display: inline-block;
    margin: 0 20px;
    color: black;
    font-size: 14px;
    cursor: pointer;
}

.social_links {
    float: right;
    width: 20%;
    text-align: right;
}

.social_links a {
    display: inline-block;
    margin-left: 15px;
}

.social_links img {
    height: 24px;
    width: 24px;
    opacity: 0.8;
}

.bottom_footer {
    text-align: center;
    font-size: 13px;
    color: black;
}

.policy_links {
    display: inline-block;
    margin-left: 20px;
}

.policy_links span {
    margin-left: 20px;
    cursor: pointer;
}